{% extends 'layouts/builder.html' %}

{% block title %}Summary{% endblock %}

{% block h2 %}Summary{% endblock %}

{% block description %}
    Summary
{% endblock %}

{% block hidden %}
{% endblock %}


{% block form_fields %}

    <div class="form-group">
       {{ form.race_id.label }}
        <select name="race_id">
	        {% for field in form.race_id %}
	        	{{ field }}
	        {% endfor %}
    	</select>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
