{% macro render_character(char, form, form_target, class='', body='', height=0, min_height=0, actions='') %}
	<a href="{{ url_for('characters.race_selection', char_id=char.id) }}">
		<div class="character-card btn btn-primary">
			{{ char.name }}
			{{ char.race }}
			<form method="post" action="{{ form_target }}" id="forgotPasswordForm">
			    {{ form.csrf_token(id=False) }}
			    <div hidden>
			        {{ form.id(value=char.id) }}
			    </div>
			    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
			        {{ form.submit }}
			    </div>
			</form>
		</div>
	</a>
{% endmacro %}