{% extends 'layouts/general.html' %}

{% block title %}{% endblock %}

{% block styles %}
	{{ super() }}
{% endblock %}

{% block body %}
	<h1 id="builder-title">Character Builder</h1>
	<h2 id="builder-subtitle">{% block h2 %}{% endblock %}</h2>
	<p class="builder-description">{% block description %}{% endblock %}</p>
	<form method="post" action="{{ url_for('characters.update', char_id=character.id) }}" id="characterUpdateForm">
		{{ form.csrf_token(id=False) }}
		<div hidden>
			{% block hidden %}{% endblock %}
		</div>
		</hidden>
		{% block form_fields %}{% endblock %}
	</form>
	<div class="row">
		{% if previous %}
			<a href="{{ url_for(previous, char_id=character.id) }}">
				<div class="btn btn-primary">Previous</div>
			</a>
		{% endif %}
		<div class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
			{{ form.submit }}
		</div>
		{% if previous %}
			<a href="{{ url_for(next, char_id=character.id) }}">
				<div class="btn btn-primary">Next</div>
			</a>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}
