{% extends 'layouts/base.html' %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block header %}
    {% include '_partials/header.html' %}
    {% include '_partials/flash.html' %}
{% endblock %}

{% block sidebar %}
	{% include '_partials/sidebar.html' %}
{% endblock %}
{% block body %}{% endblock %}
{% block adspace %}
	{% include '_partials/adspace.html' %}
{% endblock %}

{% block footer %}
    {% include '_partials/footer.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
