{% extends 'layouts/general.html' %}

{% set card %}
<div class="character-card btn btn-secondary">
	<h2>Foe Hammer</h2>
	<h3>Mechanic - Lv. 3</h3>
</div>
{% endset %}
{% block title %}Home{% endblock %}

{% block body %}
<h1>Characters</h1>
<p>Your characters are listed below. Click on a character to modify it, or click "Add New Character" to open the character builder with a blank new sheet.</p>
<div id="character-cards" class="row justify-content-around align-content-around">
	{{ card }}
	{{ card }}
	{{ card }}
	{{ card }}
	{{ card }}
	{{ card }}
</div>
<button id="new-character" class="btn btn-success">(+) New Character</button>
<form method="post" action="{{ url_for('characters.create') }}" id="forgotPasswordForm">
    {{ form.csrf_token(id=False) }}
    <div class="form-group">
        {{ render_field(form.name) }}
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
        {{ render_field(form.submit) }}
    </div>
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
