<!-- Sidebar -->
<a class="nav-link" href="{{ url_for('classes.view_all') }}">Classes</a>
<a class="nav-link" href="{{ url_for('themes.view_all') }}">Themes</a>
<a class="nav-link" href="{{ url_for('feats.view_all') }}">Feats</a>
<a class="nav-link" href="{{ url_for('spells.view_all') }}">Spells</a>
<a class="nav-link" href="{{ url_for('races.view_all') }}">Races</a>
<a class="nav-link" href="{{ url_for('skills.view_all') }}">Skills</a>
<a class="nav-link" href="{{ url_for('equipment.view_all') }}">Equipment</a>
<ul>
  <li><a href="#">Armor</a></li>
  <li><a href="#">Armor Upgrades</a></li>
  <li><a href="#">Weapons</a></li>
  <li><a href="#">Weapon Fusions</a></li>
</ul>