<!-- Sidebar -->
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" href="{{ url_for('classes.view_all') }}">
     <a class="nav-link" href="{{ url_for('classes.view_all') }}">Classes</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
     <a class="nav-link" href="{{ url_for('themes.view_all') }}">Themes</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
     <a class="nav-link" href="{{ url_for('feats.view_all') }}">Feats</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
     <a class="nav-link" href="{{ url_for('spells.view_all') }}">Spells</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
     <a class="nav-link" href="{{ url_for('equipment.view_all') }}">Equipment</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
     <a class="nav-link" href="{{ url_for('races.view_all') }}">Races</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
     <a class="nav-link" href="{{ url_for('skills.view_all') }}">Skills</a>
  </li>
</ul>